
        
            body
            {
                background-color:rgb(71, 67, 67);
                margin: 0;
            }
            h1{
                text-align: left;
                color: black;
                font-size: 25pt;
            }
            header
            {
                background: rgb(7, 7, 7);
                color:rgb(231, 219, 219);
                padding: 20px 40px;
                height:400px;
                text-align: center;
                background-image: url(images/back.jpg);
                background-size:100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            header .logo a{
                text-indent: -999999px;
                 display: inline-block;
                 height: 90px;
                 width: 300px;
                 background-image:url("images/pacific-dark.png") ;
                 background-size:310px;
                 background-repeat: no-repeat;
                 position: relative;
                 top: -90px;
             }
             nav  ul{
                margin: 0pt;
                padding: 0pt;
                list-style-type: none;
            }
           nav li{
                position: relative;
                top: 35px;
                display:inline-block;
                margin-right: 20px;
                border-radius: 10pt;
                font-size: 20px;
            }
            .fetures figure
            {
                margin: auto;
                width:180px;
                text-align: center;
                text-transform: uppercase;

            }
            .fetures{
                background: rgb(236, 210, 223);
                color:black;
                padding: 20px 40px;
                display: flex;
                flex-direction: row;

            }
            .fetures figure img{
                width: 200px;
                border: 1px solid wheat;
                box-shadow:black 0px 0px 10px;
                border-radius:50%;
            
            }
            /*gallery*/
        
            .gallery figure
            {
                margin: auto;
                width:250px;
                text-align: center;
                text-transform: uppercase;
                
            }
            .gallery{
                background: rgb(236, 210, 223);
                color:black;
                padding: 30px 20px;
                display: flex;
                flex-direction: row;

            }
            .gallery figure img{
                width: 300px;
                border: 2px solid black;
                box-shadow:black 20px 10px 20px;
                border-radius:5%;
                margin-right: 0;
                margin-left: 0;
            
            }
            a
            {
                text-decoration: none;
                color:rgb(15, 15, 15);
                font-weight: bold;
                position: relative;
                 top: -60px;
                
            }
            a:hover
            {
                text-decoration:underline;
                color: rgb(244, 241, 247);               
            }
           
           
            footer
            {
                background-color: black;
                padding: 30px ;
                color: gray;
                text-align: center;
                font-size: 10px; 
            }
            .cart
            {
               position: relative;
               top: 5pt;
               text-transform: uppercase;
               background:green; 
               box-shadow: 0px 0px 0px 2px;
            }
            .logc{
                    background: rgb(80, 72, 72);
                    color:rgb(231, 219, 219);
                    padding: 20px 40px;
                    height:100%;
                    text-align: center;
                    background-image: url(images/back.jpg);
                    background-size:100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                 .logc .logo a{
                    text-indent: -999999px;
                     display: inline-block;
                     height: 90px;
                     width: 300px;
                     background-image:url("images/pacific-dark.png") ;
                     background-size:310px;
                     background-repeat: no-repeat;
                     position: relative;
                     top: -90px;
                 }
                 form {
                    border: 3px solid #0e0c0c;
                    background-color: rgb(240, 229, 229);
                    background-position: center;
                    height: 80%;
                    width: 40%;
                    position: relative;
                    left:28%;
                    top: -35px;
                    
                  }
                  label
                  {
                      font-weight: bold;
                      color: black;
                      position: relative;
                      top: -25px;
                  }
                  input[type=text], input[type=password] {
                    width: 50%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    position: relative;
                    top: -25px;
                  }
                  

                  .imgcontainer {
                    text-align: center;
                    margin: 24px 0 12px 0;
                  }
                  
                  img.avatar {
                    width: 40%;
                    border-radius: 50%;
                    position: relative;
                    top: -10px;
                  }
              
                  button {
                    background-color: #4CAF50;
                    color: white;
                    padding: 12px 18px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 65%;
                    position: relative;
                    top: -20px;
                  }
                  .cancelbtn {
                    background-color: #d43811;
                    color: white;
                    padding: 12px 18px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 65%;
                    position: relative;
                    top: -20px;
                  }
                  button:hover
                  {
                      opacity: 0.8;
                  }
                  
                  .check
                  {
                    position: relative;
                     right:130px;
                  
                  }
                 
         @media screen and(max-width:800px)
         {
             .fetures
             {
                 background-color: rgb(168, 13, 240);
             }

         }
        
         @media screen and(min-width:400px)
         {
             .fetures
             {
                 background-color: rgb(153, 14, 14);
             }
        }
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
        
     